#grid {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    gap: 0px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    height: 110px;
    position: relative;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    font-family: 'Courier New', monospace;
}

.grid-item>.value {
    font-weight: bold;
    font-size: 18px;
}

.multiple-container {
    display: flex; /* This will align the child elements (label and value) in a row */
    align-items: center; /* This will vertically center the items in the container */
    justify-content: flex-start; /* This aligns items to the start of the container */
}

.row-multiple-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the content */
}

.multiples-column,
.multiples-row {
    width: 100%;
    display: flex;
}

.multiples-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align multiples column to the right */
    align-items: flex-end; /* Align multiples column content to the right */
}

.multiples-row {
    justify-content: flex-end;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding-top: 4px;
}

.multiple-label {
    font-size: 8px; /* Adjust the font size as needed */
    letter-spacing: -2px;
    padding-right: 4px;
}

.multiple-value {
    font-size: 10px; /* Adjust the font size as needed */
    font-weight: bold;
}

.multiple-label,
.multiple-value {
    white-space: nowrap; /* Prevents wrapping to ensure everything stays on one line */
}

.multiples-row span {
    font-size: 10px;
    padding-right: 4px;
}

.horizontal-line {
    border-top: 1px solid black; /* Creates a horizontal line */
    width: 33%; /* Limits the line to the left third of the square */
    margin: 2px 0; /* Adds a little space above and below the line */
    align-self: flex-end; /* Aligns the line to the left side */
}

.bold-red {
    font-weight: bold;
    color: #FF0000;
}

/* Odd Rows: Grey-White Pattern */
.grid-item:nth-child(20n+1), .grid-item:nth-child(20n+3), .grid-item:nth-child(20n+5),
.grid-item:nth-child(20n+7), .grid-item:nth-child(20n+9) {
    background-color: #D3D3D3; /* Odd items in odd rows */
}

.grid-item:nth-child(20n+2), .grid-item:nth-child(20n+4), .grid-item:nth-child(20n+6),
.grid-item:nth-child(20n+8), .grid-item:nth-child(20n+10) {
    background-color: #FFE4B5; /* Even items in odd rows */
}

/* Even Rows: White-#grey Pattern */
.grid-item:nth-child(20n+11), .grid-item:nth-child(20n+13), .grid-item:nth-child(20n+15),
.grid-item:nth-child(20n+17), .grid-item:nth-child(20n+19) {
    background-color: #FFE4B5; /* Odd items in even rows */
}

.grid-item:nth-child(20n+12), .grid-item:nth-child(20n+14), .grid-item:nth-child(20n+16),
.grid-item:nth-child(20n+18), .grid-item:nth-child(20n+20) {
    background-color: #D3D3D3; /* Even items in even rows */
}