#grid {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    gap: 2px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    height: 100px;
    position: relative;
    padding: 4px;
    font-size: 12px;
    overflow: hidden;
}

.grid-item>.value {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2px;
}

.multiples-column,
.multiples-row {
    width: 100%;
    display: flex;
}

.multiples-column {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.multiples-row {
    justify-content: flex-end;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 4px;
    left: 4px;
}

.multiples-column div {
    font-size: 10px; 
}

.multiples-row span {
    font-size: 10px;
    padding-right: 4px;
}

.horizontal-line {
    border-top: 1px solid black; /* Creates a horizontal line */
    width: 33%; /* Limits the line to the left third of the square */
    margin: 2px 0; /* Adds a little space above and below the line */
    align-self: flex-end; /* Aligns the line to the left side */
}

.bold-red {
    font-weight: bold;
    color: red;
}
